{% extends 'base.html' %}
{% block content %}
{{ block.super}}
{% load bootstrap4%}

<div class="container-fluid">
  <div class="three">

    <h4>welcome to you hood <strong>{{user}}</strong></h4>
  </div>
  <button id="button_h" type="button" class="btn btn-outline-secondary"><a href="/post">Make Post</a></button>
  <div class="pot">
    <div class="row">
      <div class="col-md-1">

      </div>
      <div class="col-md-6">
        <br>
        <h4>Activites happening this week</h4>
        {% for x in post %}

        <img class="card-img-top" src="{{x.image_path.url}}" alt="{{user.username}}">
        <div class="card-body">
          <p class="card-text">{{x.image_description}}</p>
        </div>
        <div class="card-footer text-muted">

        </div>
        <ul class="list-group list-group-flush">

        </ul>
        {% endfor %}
      </div>
      <div class="col-md-5">
        <h3>Businesses arround you</h3>
        {% for y in biz %}
        <li>{{y.business_name}}</li>
        {% endfor %}
      </div>
    </div>
  </div>

</div>
{% endblock %}

